:root {
  --color-primary: #7E3AF2;
  --color-secondary: #5FD62C;
  --color-primary-darker: #31128C; //darker 20%
  --color-primary-lighter: #D5B0FD; //lighten 20%
  --color-secondary-darker: #187C0E; //darker 20%
  --color-secondary-lighter: #D3FAAB; //lighten 20%

  --color-info : #07B1F9;
  --color-success : #5FD62C;
  --color-warning : #E8E00B;
  --color-danger : #FF4332;
  --color-error : #ff1500;
  --color-default : #F5F5F5;

  --color-text-default : #f5f5f5;
  --color-main-background: #494949;
}
